.search-div {
  position: relative;
  top: 20%;
  margin-right: 9vw;
  display: flex;
}

.search-button {
  padding-top: 0.5vh;
}

.search-input {
  visibility: hidden;
  opacity: 0;
  height: 40px;
  width: 500px;
  position: relative;
  background: #ffffff;
  border: 3px solid #d1d8ff;
  box-sizing: border-box;
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #32394b;
  vertical-align: top;
}

@media screen and (max-width: 821px) {
  .search-input {
    width: 400px;
  }
}
@media screen and (max-width: 693px) {
  .search-input {
    width: 300px;
  }
}
@media screen and (max-width: 572px) {
  .search-input {
    width: 240px;
  }
}
@media screen and (max-width: 500px) {
  .search-input {
    width: 180px;
  }
}
@media screen and (max-width: 423px) {
  .search-input {
    width: 100%;
  }
}

.search-input--fadeOut {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 400ms;
}

.search-input--fadeIn {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0ms, opacity 400ms;
}
