#header {
  background: rgba(255, 255, 255, 1);
  border: 1px solid #dde2ff;
  border-right: none;
  display: flex;
  justify-content: space-between;
  min-height: 7.5vh;
}

#header-logo {
  margin-left: 9vw;
  border: none;
  position: relative;
}

#header-logo object {
  position: relative;
  padding-top: 10%;
  border: none;
  position: relative;
  width: 125px;
}
/*
#toastr {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 30vw;
  min-height: 1vh;
  margin-left: auto;
  word-wrap: break-word;
  left: 33vw;
  text-align: center;
  border-radius: 5px;
  padding: 12px 15px;
  z-index: 800;
  top: 9%;
  font-size: 18px;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  background: rgba(232, 95, 95, 1);
  -webkit-animation: fadein 0.5s, fadeout 0.5s 1s;
  animation: fadein 0.5s, fadeout 0.5s 1s;
}

@-webkit-keyframes fadein {
  from {
    top: 8%;
    opacity: 0;
  }
  to {
    top: 8%;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    top: 7%;
    opacity: 0;
  }
  to {
    top: 9%;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    top: 9%;
    opacity: 1;
  }
  to {
    top: 7%;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    top: 9%;
    opacity: 1;
  }
  to {
    top: 7%;
    opacity: 0;
  }
} */
