.body-no-todos {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20vh;
  height: auto;
  width: 100vw;
}

.splash-image {
  position: absolute;
  width: 100vw;
  z-index: 10;
}

#no-todos-txt {
  text-align: center;
  padding: 0 5vw;
}
