.add-todo {
  width: 22.768rem;
  max-width: auto;
  overflow: hidden;
  min-height: 155px;
  background: #ffffff;
  border: 1px solid #dde2ff;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 4%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  word-wrap: break-word;
  position: relative;
}

.add-todo-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}
app-icon-button {
  margin: 0.2rem;
}

.add-todo-bottom-div {
  display: flex;
  justify-content: space-between;
}

.add-todo-bottom-buttons-div {
  display: flex;
}

.disable {
  pointer-events: none;
  opacity: 0.6;
}
.add-todo-spinner {
  position: absolute;
  align-self: center;
  top: 38%;
  z-index: 1;
}
.add-todo-spinner-object-svg {
  animation: rotation 1000ms infinite linear;
  z-index: 2;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
