<div
  [@show-hide-toastr]="this.httpService.httpError ? 'show' : 'hide'"
  class="toastr toastr--error"
>
  An Error has occurred
</div>

<div
  [@show-hide-toastr]="this.httpService.httpSuccess ? 'show' : 'hide'"
  class="toastr toastr--success"
>
  <svg
    fill="none"
    height="10"
    viewBox="0 0 12 10"
    width="12"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M10.1425 0L4.5 5.7835L1.857 3.278L0 5.136L4.5 9.5L12 1.8575L10.1425 0Z"
      fill="white"
    />
  </svg>

  Successful
</div>

<div class="header">
  <div class="header__logo">
    <object
      data="../../../../assets/images/leaf.svg"
      class="header__logo__image"
      type="image/svg+xml"
    ></object>
  </div>
  <div class="header__search">
    <app-search></app-search>
  </div>
</div>
